<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img
        src="frontend/images/slide/food1.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="frontend/images/slide/food2.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
    <div class="carousel-item">
      <img
        src="frontend/images/slide/food3.jpg"
        class="d-block w-100"
        alt="..."
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container">
  <h1 class="my-4"></h1>
  <p>
    aspernatur ex, nisi natus vero laboriosam ut repellat a impedit, amet et
    consequuntur reiciendis. Illum recusandae incidunt reiciendis veniam earum
    similique commodi, voluptatem nulla illo ut quam, voluptate, quaerat rem
    ratione enim? Quidem dignissimos sequi ipsa, consectetur nostrum sit
    obcaecati voluptatum fugiat.
  </p>
  <p>
    เจ็ตล็อบบี้ ไฟแนนซ์ แดรี่กู๋ฮิกีวีตาปรือ
    เบอร์เกอร์ผิดพลาดพุดดิ้งซูฮกซัพพลายเออร์ ชาร์ปคอมเมนต์มาม่า
    เชอร์รี่เทวาบิลคอนแทค แคปปาสคาลพิซซ่าสต๊อกเบิร์น กรีนบ็อกซ์ เตี๊ยม
    แคมปัสเชฟสลัมเซลส์แรงผลัก มหาอุปราชาวัจนะวันเวย์คองเกรสสเต็ป เชอร์รี่แพกเกจ
    สุนทรีย์ ชัวร์แป๋ว โรแมนติคโมเดิร์นเอสเปรสโซ ธุรกรรมคอร์ปถ่ายทำพาสต้าจิ๊ก
  </p>
</div>
